<div class="container my-3">
  <p id="notice"><%= notice %></p>
  <div class="card bg-light p-5" style="text-transform: capitalize;">
    <h2 class="card-title ">
      <%= simple_format(@article.title) %> <br>
    </h2>
    <p class="card-text">
      <%= simple_format( @article.body) %>
    </p>
    <div class="card-body" >
      <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-sm btn-outline-primary card-link" %>
      <%= link_to 'Back', articles_path, class:"btn btn-sm btn-outline-dark card-link" %>
    </div>
  </div>
 </div>